
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Actualiza vehículo</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="vendor/bootstrap/css/form-validation.css" rel="stylesheet">
  </head>

  <body class="bg-light">
	<div th:replace="fragments/navbar :: navbar">
		
	</div>
	<br/>
    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="img/aparcamiento.png" alt="" width="72" height="72">
        <h2>Actualiza vehículo</h2>
        <p class="lead">Actualiza la información necesaria de tu vehículo ya registrado</p>
      </div>

      <div class="row">
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Información general</h4>
          <form class="needs-validation" novalidate th:action="@{/actualizavehiculo/actualiza}" method=post th:object="${vehiculo}">
			<div class="mb-3">
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">Patente vehículo</label>
                <input type="text" class="form-control" id="txtPatente" th:field="*{patente}" placeholder="Ej: HXSW12" required>
                <div class="invalid-feedback">
                  (*) La patente es obligatoria
                </div>
              </div>
              
            </div>
            <div class="mb-3">
              <label for="txtDescripcion">Descripción vehículo</label>
              <textarea type="text" th:field="*{descripcion}" class="form-control" id="txtDescripcion" placeholder="Ej: Kia Morning, color blanco" required></textarea>
              <div class="invalid-feedback">
               (*) Ingresar una descripción
              </div>
            </div>
            
			<br/><hr class="mb-4">
			<input type="hidden" id="txtIdVehiculo" th:field="*{idVehiculo}">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Actualizar</button>
            <div th:if="${nok != null}" class="alert alert-danger" role="alert">Ha ocurrido un error, favor intenta nuevamente</div>
            <div th:if="${ok != null}" class="alert alert-success" role="alert">El vehículo ha sido actualizado!</div>
          </form>
        </div>
      </div>

    </div>
    <footer class="my-5 pt-5 text-muted text-center text-small">
    	<p class="mb-1">&copy; 2017-2018 Estacionamientos</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="vendor/jquery/jquery-slim.min.js"><\/script>')</script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/bootstrap/js/holder.min.js"></script>
<!-- 	<script src="vendor/bootstrap/js/popper.min.js"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlzGNJG8FbQyPmu1xGj6Z3qoCA6PEBB_E&libraries=places&callback=initAutocomplete" async defer></script>
  </body>
</html>
