
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/aparcamiento.png"/>

    <title>Arriendo OK</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="vendor/bootstrap/css/form-validation.css" rel="stylesheet">
  </head>

  <body class="bg-light">
	<div th:insert="fragments/navbar :: navbar">
		
	</div>
	<br/>
    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="img/aparcamiento.png" alt="" width="72" height="72">
        <h2>Arriendo Finalizado</h2>
        <p class="lead">Aqui tienes el detalle de tu arriendo :D</p>
      </div>
		<div th:if="${ok!=null}" class="alert alert-success alert-dismissible fade show" role="alert">
		  <strong>Actualizado! </strong> cuenta actualizada con éxito.
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div th:if="${nok!=null}" class="alert alert-danger alert-dismissible fade show" role="alert">
		  <strong>Ups!</strong> Ocurrió un error, por favor intenta más tarde,
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div th:if="${tok!=null}" class="alert alert-success alert-dismissible fade show" role="alert">
		  <strong>Medio de pago actualizado! </strong> tarjeta actualizada con éxito.
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div th:if="${tnok!=null}" class="alert alert-danger alert-dismissible fade show" role="alert">
		  <strong>Ups!</strong> Ocurrió un error al actualizar el medio de pago, por favor intenta más tarde,
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
      <div class="row">
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Resumen Arriendo Finalizado</h4>
          <form class="needs-validation" method="post" novalidate th:action="@{/micuenta/editacuenta}" th:object="${arriendo}">
          	<div class="row">
		        <div class="col-md-8 order-md-1">
		          
		          <table class="table table-hover">
					  <tbody>
					    <tr>
					      <th scope="row">Fecha Termino: </th>
					      <td th:text="${fechasalida}" colspan="2"></td>
					      <td></td>
					    </tr>
					    <tr>
					      <th scope="row">Total Pago extra:</th>
					      <td th:text="${totalpagoextra}" colspan="2"></td>
					      <td></td>
					    </tr>
					    <tr>
					      <th scope="row">Diferencia en minutos:</th>
					      <td th:text="${tiempodiferencia}" colspan="2"></td>
					      <td></td>
					    </tr>
					  </tbody>
					</table>
	          	</div>
	        </div>
            <button class="btn btn-primary btn-lg btn-block" >Finalizar</button>
          </form>
        </div>
      </div>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 Estacionamientos</p>
        <ul class="list-inline">
        </ul>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="vendor/jquery/jquery-slim.min.js"><\/script>')</script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/bootstrap/js/holder.min.js"></script>
<!-- 	<script src="vendor/bootstrap/js/popper.min.js"></script> -->
    <script>
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          var forms = document.getElementsByClassName('needs-validation');

          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
    <script type="text/javascript">
	
	var placeSearch, autocomplete;
	
	function initAutocomplete() {

	autocomplete = new google.maps.places.Autocomplete((document.getElementById('txtDireccion')),
	    {types: ['geocode']});
	autocomplete.addListener('place_changed', fillInAddress);
	
	}
	
	function fillInAddress() {
		var place = autocomplete.getPlace();
		
		var lat = place.geometry.location.lat();
		var lon = place.geometry.location.lng();
		
		console.log(lat);
		console.log(lon);
		
		var componentForm = {
		     street_number: 'short_name',
		     route: 'long_name',
		     locality: 'long_name'
		 };
		
		for (var i = 0; i < place.address_components.length; i++) {
	        var addressType = place.address_components[i].types[0];
	        if (componentForm[addressType]) {
	          var val = place.address_components[i][componentForm[addressType]];
	          $('input[id="'+addressType+'"]').val(val);
	        }
	     }
    }
	
	
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlzGNJG8FbQyPmu1xGj6Z3qoCA6PEBB_E&libraries=places&callback=initAutocomplete" async defer></script>
  </body>
</html>
