<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-item.css" rel="stylesheet">

  </head>

  <body>
	<div th:replace="fragments/navbar-consultor :: navbar-consultor"></div>
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">
          <h2 class="my-4">Gestión de estacionamiento</h2>
          <div class="list-group">
            <a href="#" class="list-group-item active" th:href="@{/registro}" >Registrate aquí</a>
            <a href="#" class="list-group-item" th:href="@{/indexconsultor}">Ver estacionamientos</a>
            <a href="#" class="list-group-item" th:href="@{/iniciosesion}">Inicia sesión</a>
          </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="img/est.png" alt="">
            <div class="card-body">
              <h3 class="card-title">¿Deseas arrendar tu estacionamiento?</h3>
<!--               <h4>$24.99</h4> -->
              <p class="card-text">Tenemos buenas noticias para ti! Te presentamos esta aplicacion web donde podras gestionar tu estacionamiento para que otras personas puedan utilizarlo y asi puedes generar dinero muy fácil! sólo debes registrarte y listo!</p>
<!--               <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span> -->
<!--               4.0 stars -->
            </div>
          </div>
          <div class="card mt-4">
            <img class="card-img-top img-fluid" src="img/buscarestacionamiento.png" alt="">
            <div class="card-body">
              <h3 class="card-title">¿Quieres ver los estacionamientos disponibles?</h3>
              <p class="card-text">Puedes ver la cantidad de estacionamientos disponibles registrados en la aplicación en cualquier lugar!. Revisa los lugares mas cercanos para estacionar, haz click <a href="#" th:href="@{/indexconsultor}">Aquí</a></p>
<!--               <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span> -->
<!--               4.0 stars -->
            </div>
          </div>
          <!-- /.card -->

<!--           <div class="card card-outline-secondary my-4"> -->
<!--             <div class="card-header"> -->
<!--               Product Reviews -->
<!--             </div> -->
<!--             <div class="card-body"> -->
<!--               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p> -->
<!--               <small class="text-muted">Posted by Anonymous on 3/1/17</small> -->
<!--               <hr> -->
<!--               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p> -->
<!--               <small class="text-muted">Posted by Anonymous on 3/1/17</small> -->
<!--               <hr> -->
<!--               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p> -->
<!--               <small class="text-muted">Posted by Anonymous on 3/1/17</small> -->
<!--               <hr> -->
<!--               <a href="#" class="btn btn-success">Leave a Review</a> -->
<!--             </div> -->
<!--           </div> -->
<!-- 		/.card -->

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
