<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="img/aparcamiento.png"/>

    <title>Inicio sesión Estacionamiento</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/iniciosesion.js"></script>
  </head>

  <body class="text-center">
    <form class="form-signin" th:action="@{/iniciosesion/inicio}" method=post th:object="${credenciales}">
      <img class="mb-4" src="img/aparcamiento.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Inicio sesión</h1>
      <label for="txtUser" class="sr-only">Usuario</label>
      <input type="text" id="txtUser" th:field="*{user}"class="form-control" placeholder="Usuario" required autofocus/>
      <label for="txtPass" class="sr-only">Contraseña</label>
      <input type="password" id="txtPass" th:field="*{pass}" class="form-control" placeholder="Password" required/>
      <button class="btn btn-lg btn-primary btn-block" id="btnIniciar" type="submit">Iniciar</button>
      <div  th:if="${error != null}" class="alert alert-danger" role="alert">Usuario o contraseña no válidos</div>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </body>
</html>