<!DOCTYPE html>
<html>
<head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Mis Estacionamientos</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="../vendor/jquery/jquery-slim.min.js"><\/script>')</script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vendor/bootstrap/js/holder.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../vendor/bootstrap/css/form-validation.css" rel="stylesheet">
    
       	<!-- Datatables -->
   	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.css"/> 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/af-2.3.2/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.js"></script>
  </head>
<body class="bg-light">
<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container">
		<hr class="mb-4">
		<br/>
		<h1>Mis Estacionamientos</h1>
		<hr class="mb-4">
	  	<div th:if="${uok!=null}" class="alert alert-success alert-dismissible fade show" role="alert">
		  <strong>Estacionamiento Actualizado!</strong> Actualizaste el estacionamiento de forma exitosa.
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div th:if="${unok!=null}" class="alert alert-danger alert-dismissible fade show" role="alert">
		  <strong>Ups!</strong> Ocurrió un error, por favor intenta más tarde,
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div th:if="${dok!=null}" class="alert alert-success alert-dismissible fade show" role="alert">
		  <strong>Estacionamiento eliminado!</strong> Eliminaste el estacionamiento de forma exitosa.
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div th:if="${dnok!=null}" class="alert alert-danger alert-dismissible fade show" role="alert">
		  <strong>Ups!</strong> Ocurrió un error, por favor intenta más tarde,
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<table id="tablaEstacionamientos" class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Descripción</th>
			      <th scope="col">Tipo de Tarifa</th>
			      <th scope="col">Opiones</th>
			    </tr>
			  <tbody th:if="${lista.size()>0}">
			    <tr th:each="list : ${lista}">
			      <td th:text="${list.descripcion}"></td>
			      <td th:text="${list.tarifa}"></td>
			      <td>	
			      		<form method="post" style="display: inline-block;" th:action="@{/actualizaestacionamiento}">
				      		<input type="hidden" name="idEstacionamiento" id="idEstacionamiento" th:value="${list.idEstacionamiento}" />
				      		<button class="btn btn-info" type="submit">Edita</button>
			      		</form>
			      		<form th:id="${list.idEstacionamiento}" method="post" style="display: inline-block;" th:action="@{/eliminaestacionamiento/elimina}">
				      		<input type="hidden" name="idEstacionamiento" id=idEstacionamiento th:value="${list.idEstacionamiento}" />
				      		<button th:id="${list.idEstacionamiento}" onclick="dosomething(this.id)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Borrar</button>
			      		</form>
<!-- 			      		<a role="button" class="btn btn-info" href="#" th:href="@{'/modificarestacionamiento/mod?id='+${list.idEstacionamiento}}">Editar</a> -->
<!-- 			      		<a role="button" class="btn btn-danger" href="#" th:href="@{'/Eliminaestacionamiento/mod?id='+${list.idEstacionamiento}}">Borrar</a> -->
			      </td>
			    </tr>
			  </tbody>
			  <tbody th:if="${lista.size()==0}" >
			    <tr>
			      <td colspan="3" style="text-align: center">No existen estacionamientos registrados.</td>
			    </tr>
			  </tbody>
			</table>
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
				  <div class="modal-content">
				    <div class="modal-header">
				      <h5 class="modal-title" id="exampleModalLabel">Eliminar vehículo</h5>
				      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				        <span aria-hidden="true">&times;</span>
				      </button>
				    </div>
				    <div class="modal-body">
				      ¿Esta seguro que desea eliminar el estacionamiento?
				    </div>
				    <div class="modal-footer">
				      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				      <button type="button" onclick="callDelete()" class="btn btn-primary" >Aceptar</button>
				    </div>
				  </div>
				</div>
			</div>
	</div>
</body>
<script th:inline="javascript">
var lang = {
		paginate : {
			'previous' : 'Anterior',
			'next' : 'Siguiente',
			'search' : 'Buscar'
		},
		search : 'Buscar',
		info : 'Mostrando de _START_ a _END_, de _TOTAL_ registros',
		zeroRecords : 'No se encontraron registros',
		infoEmpty : 'Mostrando 0 registros',
		infoFiltered : '(filtrados de _MAX_ registros)',
		sLengthMenu: 'Mostrar _MENU_ registros',
		buttons : {
			pageLength: {
				_ : 'Mostrar %d filas',
			},
		}
};
</script>
<script>
$(document).ready(function() {
    $('#tablaEstacionamientos').DataTable( {
//         dom: 'Bfrtip',
        responsive : true,
        lengthChange: false,
        language: lang,
        order : [ [ 0, 'desc'] ],
		searching : true,
        extend : 'collection'
//         buttons: [{
//         	extend: 'pdf',
//         	text : 'Pdf',
//         	title: "Mis Estacionamientos",
//         	exportOptions : {
//         		columns: [ 0, 1]
//         	}
//         },
//         ]
    } );
} );
</script>
<script>
var formsubmit = null;

function dosomething(value){
	formsubmit = value;
	console.log("valor del boton: "+value);
};

function callDelete(){
	console.log("llamando al valor del formulario: "+formsubmit);
	$('#exampleModal').modal('hide');
	$('#'+formsubmit).submit();
};


</script>
</html>