<!DOCTYPE html>
<html>
<head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Mis Estacionamientos</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="../vendor/jquery/jquery-slim.min.js"><\/script>')</script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vendor/bootstrap/js/holder.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../vendor/bootstrap/css/form-validation.css" rel="stylesheet">
  </head>
<body class="bg-light">
<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container">
		<hr class="mb-4">
		<br/>
		<h1>Mis Estacionamientos</h1>
		<hr class="mb-4">
		<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Descripción</th>
			      <th scope="col">Tipo de Tarifa</th>
			      <th scope="col">Opiones</th>
			    </tr>
			  <tbody th:if="${lista.size()>0}" th:each="list : ${lista}">
			    <tr>
			      <td th:text="${list.descripcion}"></td>
			      <td th:text="${list.tarifa}"></td>
			      <td>
			      		<a role="button" class="btn btn-info" href="#" th:href="@{'/modificarestacionamiento/mod?id='+${list.idEstacionamiento}}">Editar</a>
			      		<a role="button" class="btn btn-danger" href="#" th:href="@{'/Eliminaestacionamiento/mod?id='+${list.idEstacionamiento}}">Borrar</a>
			      </td>
			    </tr>
			  </tbody>
			  <tbody th:if="${lista.size()==0}" >
			    <tr>
			      <td colspan="3" style="text-align: center">No existen estacionamientos registrados.</td>
			    </tr>
			  </tbody>
			</table>
	</div>
</body>
</html>