<!DOCTYPE html>
<html>
<head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Mis vehículos</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="../vendor/jquery/jquery-slim.min.js"><\/script>')</script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="../vendor/bootstrap/js/holder.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../vendor/bootstrap/css/form-validation.css" rel="stylesheet">
  </head>
<body class="bg-light">
<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container">
		<hr class="mb-4">
		<br/>
		<h1>Mis vehículos</h1>
		<hr class="mb-4">
		<div th:if="${dok!=null}" class="alert alert-info alert-dismissible fade show" role="alert">
		  <strong>Vehículo eliminado!</strong> Eliminaste el vehículo de forma exitosa.
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div th:if="${dnok!=null}" class="alert alert-info alert-dismissible fade show" role="alert">
		  <strong>Ups!</strong> Ocurrió un error, por favor intenta más tarde,
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Patente</th>
			      <th scope="col">Descripción</th>
			      <th scope="col">Opciones</th>
			    </tr>
			  </thead>
			  <tbody th:if="${lista.size()>0}" th:each="list : ${lista}">
			    <tr>
			      <td th:text="${list.patente}"></td>
			      <td th:text="${list.descripcion}"></td>
			      <td>
			      	<form method="post" style="display: inline-block;" th:action="@{/actualizavehiculo}">
			      		<input type="hidden" name="idVehiculo" id="idVehiculo" th:value="${list.idVehiculo}" />
			      		<button class="btn btn-info" type="submit">Edita</button>
			      	</form>
			      	<form th:id="${list.idVehiculo}" method="post" style="display: inline-block;" th:action="@{/eliminavehiculo/elimina}">
			      		<input type="hidden" name="idVehiculo" id="idVehiculo" th:value="${list.idVehiculo}" />
			      		<button th:id="${list.idVehiculo}" onclick="dosomething(this.id)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Borrar</button>
			      	</form>
			      </td>
			    </tr>
			  </tbody>
			  <tbody th:if="${lista.size()==0}" >
			    <tr>
			      <td colspan="3" style="text-align: center">No existen registros.</td>
			    </tr>
			  </tbody>
			</table>
			
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
			    <div class="modal-header">
			      <h5 class="modal-title" id="exampleModalLabel">Eliminar vehículo</h5>
			      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			        <span aria-hidden="true">&times;</span>
			      </button>
			    </div>
			    <div class="modal-body">
			      ¿Esta seguro que desea eliminar este vehículo?
			    </div>
			    <div class="modal-footer">
			      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			      <button type="button" onclick="callDelete()" class="btn btn-primary" >Aceptar</button>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</body>
<script>
var formsubmit = null;

function dosomething(value){
	formsubmit = value;
	console.log("valor del boton: "+value);
};

function callDelete(){
	console.log("llamando al valor del formulario: "+formsubmit);
	$('#exampleModal').modal('hide');
	$('#'+formsubmit).submit();
};


</script>
</html>